{% extends 'web_lib/main.html' %}


{% block content %}

    <div class="container">
        <h1>Books</h1>
        <div class="card card-block">
        <a class="btn btn-sn btn-info" href="{% url 'create_book' %}">Создать книгу</a>
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">PK</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Дата публикации</th>
                <th scope="col">Изменить</th>
                <th scope="col">Удалить</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if books%}
            {% for book in books %}
            <tr>
                <td>{{book.pk}}</td>
                <td>{{book.title}}</td>
                <td>{{book.description}}</td>
                <td>{{book.published|date:'DATETIME_FORMAT'}}</td>
                <td><a class="btn btn-sn btn-info" href="{% url 'update_book' book.pk %}">Обновить</a></td>
                <td><a class="btn btn-sn btn-danger" href="{% url 'delete_book' book.pk %}">Удалить</a></td>
            </tr>
                {% endfor %}
        {% else %}
            <p>Нет книг</p>
        {% endif %}    
    </tbody>
</table>
           </div>
        </div>
{% endblock %}